.about-me {
  padding: 70px 120px 0 0;

  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-style: normal;
  font-family: Inter;
  font-variation-settings: 'wght' 422;
  letter-spacing: -0.2px;
  font-size: 12px;
  line-height: 16px;
}
