.project__image-container {
  width: 100%;
  border-right: 1px solid rgba(112, 112, 112, 0.5);
  max-height: 360px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto;
}

.project__image-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
